xml-resources/web-service-references/ValidarXSD_DTD/wsdl/localhost_8080/AgendaSoap/ValidarXSD_DTD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servlet/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servlet/">

<xs:element name="ValidarXSD" type="tns:ValidarXSD"/>

<xs:element name="ValidarXSDResponse" type="tns:ValidarXSDResponse"/>

<xs:element name="Validar_DTD" type="tns:Validar_DTD"/>

<xs:element name="Validar_DTDResponse" type="tns:Validar_DTDResponse"/>

<xs:complexType name="ValidarXSD">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ValidarXSDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Validar_DTD">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Validar_DTDResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>