xml-resources/web-service-references/ServiciosBasicos/wsdl/localhost_8080/AgendaSoap/ServiciosBasicos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servlet/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servlet/" name="ServiciosBasicos">
<types>
<xsd:schema>
<xsd:import namespace="http://Servlet/" schemaLocation="http://localhost:8080/AgendaSoap/ServiciosBasicos?xsd=1"/>
</xsd:schema>
</types>
<message name="MostarPersona">
<part name="parameters" element="tns:MostarPersona"/>
</message>
<message name="MostarPersonaResponse">
<part name="parameters" element="tns:MostarPersonaResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="MostrarAgenda">
<part name="parameters" element="tns:MostrarAgenda"/>
</message>
<message name="MostrarAgendaResponse">
<part name="parameters" element="tns:MostrarAgendaResponse"/>
</message>
<message name="CrearContacto">
<part name="parameters" element="tns:CrearContacto"/>
</message>
<message name="CrearContactoResponse">
<part name="parameters" element="tns:CrearContactoResponse"/>
</message>
<portType name="ServiciosBasicos">
<operation name="MostarPersona">
<input wsam:Action="http://Servlet/ServiciosBasicos/MostarPersonaRequest" message="tns:MostarPersona"/>
<output wsam:Action="http://Servlet/ServiciosBasicos/MostarPersonaResponse" message="tns:MostarPersonaResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://Servlet/ServiciosBasicos/MostarPersona/Fault/JAXBException"/>
</operation>
<operation name="MostrarAgenda">
<input wsam:Action="http://Servlet/ServiciosBasicos/MostrarAgendaRequest" message="tns:MostrarAgenda"/>
<output wsam:Action="http://Servlet/ServiciosBasicos/MostrarAgendaResponse" message="tns:MostrarAgendaResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://Servlet/ServiciosBasicos/MostrarAgenda/Fault/JAXBException"/>
</operation>
<operation name="CrearContacto">
<input wsam:Action="http://Servlet/ServiciosBasicos/CrearContactoRequest" message="tns:CrearContacto"/>
<output wsam:Action="http://Servlet/ServiciosBasicos/CrearContactoResponse" message="tns:CrearContactoResponse"/>
</operation>
</portType>
<binding name="ServiciosBasicosPortBinding" type="tns:ServiciosBasicos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="MostarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="MostrarAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="CrearContacto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosBasicos">
<port name="ServiciosBasicosPort" binding="tns:ServiciosBasicosPortBinding">
<soap:address location="http://localhost:8080/AgendaSoap/ServiciosBasicos"/>
</port>
</service>
</definitions>