xml-resources/web-service-references/ServiciosBasicos/wsdl/localhost_8080/AgendaSoap/ServiciosBasicos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servlet/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servlet/">

<xs:element name="Agenda" type="tns:agenda"/>

<xs:element name="CrearContacto" type="tns:CrearContacto"/>

<xs:element name="CrearContactoResponse" type="tns:CrearContactoResponse"/>

<xs:element name="JAXBException" type="tns:JAXBException"/>

<xs:element name="MostarPersona" type="tns:MostarPersona"/>

<xs:element name="MostarPersonaResponse" type="tns:MostarPersonaResponse"/>

<xs:element name="MostrarAgenda" type="tns:MostrarAgenda"/>

<xs:element name="MostrarAgendaResponse" type="tns:MostrarAgendaResponse"/>

<xs:element name="Persona" type="tns:persona"/>

<xs:complexType name="CrearContacto">
<xs:sequence>
<xs:element name="arg0" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="telephone" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearContactoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostarPersona">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MostarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="JAXBException">
<xs:sequence>
<xs:element name="errorCode" type="xs:string" minOccurs="0"/>
<xs:element name="linkedException" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostrarAgenda">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="MostrarAgendaResponse">
<xs:sequence>
<xs:element name="return" type="tns:agenda" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agenda">
<xs:sequence>
<xs:element name="Persona" type="tns:persona" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>